body {
  font-family: helvetica; }

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
  background: #eeeeee;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  form .shirt {
    max-width: 100%;
    margin-bottom: 10px; }
  form input[type="submit"] {
    display: block;
    background: #8eba00;
    border: 3px solid #8eba00;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px; }
    form input[type="submit"]:active {
      outline: none;
      background: transparent;
      color: #8eba00; }
