body
  font-family: helvetica

form
  width: 300px
  margin: 0 auto
  margin-top: 200px
  background: #EEE
  padding: 20px
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px

  .shirt
    max-width: 100%
    margin-bottom: 10px
  
  input[type="submit"]
    display: block
    background: #8EBA00
    border: 3px solid #8EBA00
    text-align: center
    padding: 10px
    color: #FFF
    font-size: 16px
    -webkit-border-radius: 6px
    -moz-border-radius: 6px
    border-radius: 6px
    cursor: pointer
    box-sizing: border-box
    width: 100%
    margin-top: 10px
  
    &:active
      outline: none
      background: transparent
      color: #8EBA00
